DATABASE_URL=postgresql://neondb_owner:npg_V8vU3wTszCAh@ep-bitter-pond-a1vcqhhc-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
SECRET_KEY=your-super-secret-key-change-this-in-production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
GEMINI_API_KEY=AIzaSyC3ndHqaqQB57-frJ6fPHQcKU9ulqpZei4
